In [2]:
import pandas as pd   # Importing Pandas.

In [9]:
# Selecting the excel file from my desktop, reading the sheet named "Sheet0" and getting the third row as a header. 
# Getting a glance if it's everything ok with a sample of few rows.

excel = pd.read_excel("excel_sample.xlsx", sheet_name = "Sheet0", header = 2)  
excel.head()

,Nome da Pesquisa,Data de Download,Data de Entrega,ID do Cliente,Assessor,Escritório,Status,Email Clicado,Formulário aberto
0,Pesquisa Sample,2021-06-04 15:23:10.304,2021-06-04 08:36:58.326,9889159,A66666,123,DELIVERED,No,No
1,Pesquisa Sample,2021-06-04 15:23:10.306,2021-06-04 08:05:29.742,9682846,A11111,123,DELIVERED,No,No
2,Pesquisa Sample,2021-06-04 15:23:10.306,2021-06-04 08:04:53.997,9546107,A66666,123,DELIVERED,No,No
3,Pesquisa Sample,2021-06-04 15:23:10.307,2021-06-04 07:32:14.184,9512082,A22222,123,DELIVERED,No,No
4,Pesquisa Sample,2021-06-04 15:23:10.304,2021-06-04 08:41:25.564,9475209,A66666,123,DELIVERED,No,No

In [10]:
# Creating a dictionary with assessors as "keys" and their names as "values".

assessors = {}
assessors['A11111'] = "Ass. #1"
assessors['A22222'] = "Ass. #2"
assessors['A33333'] = "Ass. #3"
assessors['A44444'] = "Ass. #4"
assessors['A55555'] = "Ass. #5" 
assessors['A66666'] = "Ass. #6" 

print(assessors)

{'A11111': 'Ass. #1', 'A22222': 'Ass. #2', 'A33333': 'Ass. #3', 'A44444': 'Ass. #4', 'A55555': 'Ass. #5', 'A66666': 'Ass. #6'}

In [11]:
#   Creating a new column with the assessor's name by getting the value in the dictionary (which represent the assessor's name) 
# and linking to the respective key with the map function.

excel["assessor_name"] = excel["Assessor"].map(assessors)
excel.head()

,Nome da Pesquisa,Data de Download,Data de Entrega,ID do Cliente,Assessor,Escritório,Status,Email Clicado,Formulário aberto,assessor_name
0,Pesquisa Sample,2021-06-04 15:23:10.304,2021-06-04 08:36:58.326,9889159,A66666,123,DELIVERED,No,No,Ass. #6
1,Pesquisa Sample,2021-06-04 15:23:10.306,2021-06-04 08:05:29.742,9682846,A11111,123,DELIVERED,No,No,Ass. #1
2,Pesquisa Sample,2021-06-04 15:23:10.306,2021-06-04 08:04:53.997,9546107,A66666,123,DELIVERED,No,No,Ass. #6
3,Pesquisa Sample,2021-06-04 15:23:10.307,2021-06-04 07:32:14.184,9512082,A22222,123,DELIVERED,No,No,Ass. #2
4,Pesquisa Sample,2021-06-04 15:23:10.304,2021-06-04 08:41:25.564,9475209,A66666,123,DELIVERED,No,No,Ass. #6

In [15]:
#   Last step was to loop over the values of the dictionary, localize each value in the column "ID do Cliente" with "loc",
# send it to a new dictionaty that lists all clients ID in line with it's assessor and print it to generate the Whatsapp msg.  

final = {}
for v in assessors.values():
    final[v] = excel.loc[excel["assessor_name"] == v,"ID do Cliente"].to_list()

for k, v in final.items():
    print(k,":", v) 
    print("")

Ass. #1 : [9682846, 9246050, 8547830, 8506070, 8124808, 5790764, 5743204, 5603884, 5161390, 4845197, 3993211, 3523744, 2643174]

Ass. #2 : [9512082, 8668129, 8076058, 7990499, 7402422, 5242848, 3879473, 3756147, 3091226, 3014697, 2750552, 2029558, 1229672]

Ass. #3 : [8985360, 8007992, 7082877, 5326199, 4289956, 3881177, 3805526, 2959596, 2630765, 1982383, 1038810]

Ass. #4 : [9416089, 5416299, 5042588, 4391473, 3139900]

Ass. #5 : [8668543, 8094701, 6296647, 5655027, 5381621, 4683019, 4235090, 3072450, 3021309, 2740738, 2545615, 2282055, 2269864]

Ass. #6 : [9889159, 9546107, 9475209, 6386253, 6099022, 5823428, 5553908, 5464820, 4496095, 3541096, 2925500, 1574397, 1432123]